.header{
    display: flex;
    justify-content: space-around;
    padding :2% 15%;
    background-color: whitesmoke;
}
.detailsContainer{
    display: flex;
    flex-direction: column;
}
.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   margin: 2% 5%;
    align-items: center;
}